.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem-esquerda {
    padding: 0.7em;
}

.container__imagem-direita {
    padding: 0.3em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
    background-color: var(--branco);
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo, .navegacao, .container__texto, .container__botao {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo_negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo_negrito {
        font-weight: 700;
    }

    .navegacao {
        display: flex;
        margin-right: auto;
    }

    .navegacao__item {
        margin: 0 1.5em;
        text-transform: uppercase;
    }

    .navegacao__item:hover {
        background-color: var(--azul);
    }

    .navegacao__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem_transparente, .cabecalho__menu-hamburguer {
        display: none;
    }

    .navegacao__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .navegacao__botao {
        display: none;
    }

    .navegacao__botao:checked ~ .navegacao__rotulo > .navegacao__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .navegacao__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .navegacao {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}